.board {
	position: relative;
    margin: 0 auto;
    background-color: #ECF3FD;
    background-image:
        linear-gradient(#ccc 1px, transparent 1px),
        linear-gradient(90deg, #ccc 1px, transparent 1px);
}

.cell {
	background: #4d626e;
	position: absolute;
}

.controls {
    margin-top: 20px;
    margin-left: 20px;
    padding: 15px;
    float: left;
    text-align: left;
    position: relative;
}

.button {
	margin-bottom: 15px;
}

.countCell {
	font-size: 20px;
	color: #343a40;
	
}

.count {
	margin: 5px;
    text-align: center;
}

.boardalign {
  display: grid;
  grid-template-columns: 0.1fr 0.9fr;
}
